In [27]:
import pymssql
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime
from functions import *
import sqlalchemy
from sqlalchemy  import create_engine

# Local DB PC
server = 'DESKTOP-3OHRULK'
user = 'sa'
password = 'welcome1'
db = 'pfidb'


conn = pymssql.connect(server,user,password,db)

conn_for_insert = fr'mssql+pymssql://'+user+':'+password+'@'+server+'/'+db
engine = create_engine(conn_for_insert)

In [2]:
stations_query = """SELECT * FROM [estaciones-de-bicicletas-publicas]"""
df_stations = pd.read_sql(stations_query,conn)

df_stations_usage = stations_usage(conn,df_stations)
stations_avg_df = df_stations_usage.groupby('nro_est')['bicicletas_en_estacion','usos'].mean()
stations_avg_df = stations_avg_df.sort_values('bicicletas_en_estacion').reset_index()
stations_avg_df.head(10)

   nro_est  bicicletas_en_estacion      usos
0     33.0             -527.638239  4.995637
1      5.0             -514.242713  3.467381
2    131.0             -379.331877  3.264010
3     89.0             -352.976258  2.316129
4      9.0             -325.316999  3.998101
5     57.0             -272.925195  1.990958
6     22.0             -244.444320  1.899477
7    199.0             -212.869172  2.582617
8    200.0             -210.182254  2.574133
9     28.0             -207.420819  2.865709

In [3]:
stations_avg_month_df = df_stations_usage.copy()
stations_avg_month_df['year_month'] = stations_avg_month_df['fecha_y_hora'].apply(lambda x: x.strftime('%Y-%m'))
stations_avg_month_df = stations_avg_month_df.groupby(['nro_est','year_month'])['bicicletas_en_estacion','usos'].mean()
stations_avg_month_df = stations_avg_month_df.sort_values('bicicletas_en_estacion').reset_index()
stations_avg_month_df.head(10)

   nro_est year_month  bicicletas_en_estacion      usos
0      5.0    2018-12            -1050.555263  2.363158
1     33.0    2018-12             -958.167665  3.211577
2      5.0    2018-11             -950.578189  3.742798
3     33.0    2018-11             -889.177007  5.348540
4     33.0    2018-10             -779.087687  7.604478
5      5.0    2018-10             -776.240575  4.524237
6    131.0    2018-12             -713.849727  2.743169
7      9.0    2018-12             -713.272517  2.965358
8     33.0    2018-09             -692.228663  8.185185
9    131.0    2018-11             -653.013015  3.865510

In [4]:
K = defining_right_k(df_stations)
df_merged = cluster(df_stations, K) # Cluster into K groups
print(K)

22

In [5]:
df_merged[df_merged['nro_est']==42]
df_merged.head(10)

,long,lat,nombre,domicilio,nro_est,dire_norm,capacidad,cluster,lat_centroide,long_centroide
0,-58.392452,-34.583133,Facultad de Derecho,Av. Pres.Figueroa Alcorta y Juan A.Bibiloni,1,"FIGUEROA ALCORTA, PRES. AV. y BIBILONI, JUAN A.",20,10,-34.589904,-58.393151
1,-58.374822,-34.592589,Retiro,Av. Dr.Jose Ramos Mejia y Del Libertador Av,2,"DEL LIBERTADOR AV. y RAMOS MEJIA, JOSE MARIA, ...",12,15,-34.594475,-58.376283
2,-58.368918,-34.611242,Aduana,Av. Ing.Huergo y Av. Belgrano,3,"HUERGO, ING. AV. y BELGRANO AV.",12,19,-34.614985,-58.364498
3,-58.368950,-34.601721,Plaza Roma,Lavalle y Bouchard,4,LAVALLE y BOUCHARD,12,12,-34.603360,-58.370789
4,-58.420997,-34.580127,Plaza Italia,Av. Santa Fe y Av. Sarmiento,5,SARMIENTO AV. y CALZADA CIRCULAR PLAZA ITALIA,42,1,-34.584228,-58.424641
5,-58.369709,-34.628301,Parque Lezama,Av Martin Garcia e Irala,6,"GARCIA, MARTIN AV. e IRALA",12,4,-34.629631,-58.372312
6,-58.380990,-34.605840,Obelisco,Av. 9 de Julio y Tte. Gral Juan Domingo Peron,7,"PELLEGRINI, CARLOS y PERON, JUAN DOMINGO, TTE....",10,0,-34.602423,-58.383123
7,-58.389253,-34.609930,Congreso,Av. Hipolito Yrigoyen y Virrey Ceballos,8,"YRIGOYEN, HIPOLITO AV. y CEVALLOS, VIRREY",24,21,-34.613065,-58.393389
8,-58.407145,-34.583915,Parque Las Heras,Parque Las Heras,9,"DIAZ, CNEL. AV. y FRENCH",24,6,-34.580324,-58.407976
9,-58.365746,-34.615551,Puerto Madero - UCA,Moreau de Justo 1500,10,"1500 MOREAU DE JUSTO, ALICIA AV.",12,19,-34.614985,-58.364498

In [35]:
### Adding new station to the cluster table and generating df_merged from the DB
def jsonify_usig(res):
    return json.loads(res.text[1:-1])

# ONLY NEEDS NAME, CAPACITY AND CLUSTER!!
new_station = {
    'long':0,
    'lat':0,
    'nombre':'Test para variar clusters',
    'domicilio':'',
    'nro_est':0,
    'dire_norm':'',
    'capacidad':100,
    'cluster':19,
    'lat_centroide':0,
    'long_centroide':0
}

new_station['nro_est'] = engine.execute("SELECT MAX(nro_est)+1 FROM [stations_with_centroids]").fetchone()[0]

cluster_info = """SELECT AVG(lat) as lat, AVG(long) as long, lat_centroide, long_centroide 
FROM [pfidb].[dbo].[stations_clusters_usage]
WHERE cluster={}
GROUP BY lat_centroide,long_centroide""".format(new_station['cluster'])

cluster_lat_long = engine.execute(cluster_info).fetchone()
new_station['lat'] = cluster_lat_long[0]
new_station['long'] = cluster_lat_long[1]
new_station['lat_centroide'] = cluster_lat_long[2]
new_station['long_centroide'] = cluster_lat_long[3]

# Turning lat long to address
URL="https://ws.usig.buenosaires.gob.ar/geocoder/2.2/reversegeocoding"
# X is longitude and Y is latitude
params = {'x':new_station['long'], 'y':new_station['lat']}
usig_address = jsonify_usig(requests.get(URL,params=params))

new_station['domicilio'] = usig_address['puerta']
new_station['dire_norm'] = usig_address['puerta']

# stations_clusters_query = """SELECT * FROM [stations_with_centroids]"""
# df_merged = pd.read_sql(stations_clusters_query,conn)
# df_merged = df_merged.append(new_station, ignore_index=True)
# insert_stations_with_centroids(engine,'stations_with_centroids',df_merged)


aux_keys = ['long','lat','nombre','domicilio','nro_est','dire_norm','capacidad']

new_station_aux = { key: new_station[key] for key in aux_keys }
stations_query = """SELECT * FROM [estaciones-de-bicicletas-publicas]"""
df_stations = pd.read_sql(stations_query,conn)
df_stations = df_stations.append(new_station_aux, ignore_index=True)
generic_insert(engine,'estaciones-de-bicicletas-publicas',df_stations)


# df_merged = pd.read_sql(stations_clusters_query,conn)

# print(new_station_aux)

{'long': -58.3644982275, 'lat': -34.614985403750005, 'nombre': 'Test para variar clusters', 'domicilio': 'GORRITI JUANA MANUELA 1500', 'nro_est': 201, 'dire_norm': 'GORRITI JUANA MANUELA 1500', 'capacidad': 100}

In [26]:
# Calculating how many stations are in each clusters
df_clusters = df_merged.groupby("cluster")["nro_est"].apply(list).reset_index()
df_clusters["count"] = df_clusters["nro_est"].apply(len)
df_clusters.head(25)

    cluster                                            nro_est  count
0         0  [7, 11, 23, 27, 38, 42, 45, 51, 68, 71, 83, 95...     15
1         1           [5, 14, 56, 70, 113, 123, 125, 142, 160]      9
2         2             [80, 87, 167, 178, 180, 187, 188, 197]      8
3         3  [13, 28, 86, 88, 118, 120, 146, 162, 163, 169,...     12
4         4                   [6, 73, 126, 147, 148, 172, 196]      7
5         5                [25, 59, 65, 66, 85, 122, 181, 193]      8
6         6      [9, 44, 50, 89, 103, 124, 156, 177, 190, 200]     10
7         7  [16, 18, 24, 37, 46, 47, 57, 72, 81, 98, 112, ...     15
8         8              [21, 41, 92, 105, 139, 140, 155, 198]      8
9         9          [29, 31, 74, 99, 100, 109, 121, 129, 136]      9
10       10       [1, 12, 30, 64, 90, 115, 119, 166, 174, 189]     10
11       11                       [20, 58, 133, 145, 159, 182]      6
12       12  [4, 26, 32, 34, 36, 40, 48, 55, 60, 61, 63, 11...     14
13       13  [17, 52, 54, 82, 96, 110, 134, 143, 154, 161, ...     11
14       14          [33, 43, 69, 84, 116, 144, 165, 170, 171]      9
15       15  [2, 19, 22, 35, 53, 62, 78, 114, 130, 131, 135...     12
16       16                               [107, 138, 184, 195]      4
17       17                      [94, 101, 102, 104, 127, 158]      6
18       18                               [108, 153, 176, 179]      4
19       19               [3, 10, 79, 137, 150, 151, 152, 164]      8
20       20                             [49, 67, 97, 157, 185]      5
21       21         [8, 39, 75, 76, 77, 91, 93, 106, 141, 183]     10

In [94]:

stations_clusters_original = pd.merge(df_merged,stations_avg_df, on='nro_est', how='left')
stations_clusters_original['usos'].fillna(0, inplace=True)
stations_clusters_original['bicicletas_en_estacion'].fillna(stations_clusters_original['capacidad'], inplace=True)
stations_clusters_usage = stations_clusters_original.copy()
stations_clusters_usage['very_used'] = np.where(stations_clusters_usage['bicicletas_en_estacion'] < 0, True, False)
#stations_clusters_usage.groupby('very_used').count()
stations_clusters_usage.head(10)

,long,lat,nombre,domicilio,nro_est,dire_norm,capacidad,cluster,lat_centroide,long_centroide,bicicletas_en_estacion,usos,very_used
0,-58.392452,-34.583133,Facultad de Derecho,Av. Pres.Figueroa Alcorta y Juan A.Bibiloni,1,"FIGUEROA ALCORTA, PRES. AV. y BIBILONI, JUAN A.",20,10,-34.589904,-58.393151,134.415700,3.538632,False
1,-58.374822,-34.592589,Retiro,Av. Dr.Jose Ramos Mejia y Del Libertador Av,2,"DEL LIBERTADOR AV. y RAMOS MEJIA, JOSE MARIA, ...",12,15,-34.594475,-58.376283,-76.380952,2.258815,True
2,-58.368918,-34.611242,Aduana,Av. Ing.Huergo y Av. Belgrano,3,"HUERGO, ING. AV. y BELGRANO AV.",12,19,-34.614985,-58.364498,68.653128,1.668496,False
3,-58.368950,-34.601721,Plaza Roma,Lavalle y Bouchard,4,LAVALLE y BOUCHARD,12,12,-34.603360,-58.370789,-147.892522,1.987223,True
4,-58.420997,-34.580127,Plaza Italia,Av. Santa Fe y Av. Sarmiento,5,SARMIENTO AV. y CALZADA CIRCULAR PLAZA ITALIA,42,1,-34.584228,-58.424641,-514.242713,3.467381,True
5,-58.369709,-34.628301,Parque Lezama,Av Martin Garcia e Irala,6,"GARCIA, MARTIN AV. e IRALA",12,4,-34.629631,-58.372312,15.859768,2.404949,False
6,-58.380990,-34.605840,Obelisco,Av. 9 de Julio y Tte. Gral Juan Domingo Peron,7,"PELLEGRINI, CARLOS y PERON, JUAN DOMINGO, TTE....",10,0,-34.602423,-58.383123,-106.221429,1.669780,True
7,-58.389253,-34.609930,Congreso,Av. Hipolito Yrigoyen y Virrey Ceballos,8,"YRIGOYEN, HIPOLITO AV. y CEVALLOS, VIRREY",24,21,-34.613065,-58.393389,62.702296,3.383327,False
8,-58.407145,-34.583915,Parque Las Heras,Parque Las Heras,9,"DIAZ, CNEL. AV. y FRENCH",24,6,-34.580324,-58.407976,-325.316999,3.998101,True
9,-58.365746,-34.615551,Puerto Madero - UCA,Moreau de Justo 1500,10,"1500 MOREAU DE JUSTO, ALICIA AV.",12,19,-34.614985,-58.364498,-41.851240,1.880165,True

In [97]:
average_fuller_clusters = stations_clusters_original[['cluster','lat_centroide','long_centroide','bicicletas_en_estacion','usos']].copy()
#average_fuller_clusters["long_centroide"] = average_fuller_clusters["long_centroide"]
#print(average_fuller_clusters["long_centroide"].unique())
#print(average_fuller_clusters["long_centroide"].astype(str).unique())
#average_fuller_clusters = average_fuller_clusters[['long_centroide','bicicletas_en_estacion']]
average_fuller_clusters = average_fuller_clusters.groupby(['cluster','lat_centroide','long_centroide'])['bicicletas_en_estacion','usos'].mean().reset_index()
average_fuller_clusters['very_used'] = np.where(average_fuller_clusters['bicicletas_en_estacion'] < 0, True, False)
average_fuller_clusters

,cluster,lat_centroide,long_centroide,bicicletas_en_estacion,usos,very_used
0,0,-34.602423,-58.383123,41.129270,2.075582,False
1,1,-34.584228,-58.424641,-36.633775,2.724154,True
2,2,-34.618043,-58.428094,58.041397,2.193700,False
3,3,-34.615738,-58.407349,16.344052,2.185726,False
4,4,-34.629631,-58.372312,112.440309,2.306744,False
5,5,-34.591455,-58.413086,36.810109,2.434823,False
6,6,-34.580324,-58.407976,-107.148560,2.197829,True
7,7,-34.614397,-58.376557,1.705304,2.127671,False
8,8,-34.635852,-58.408226,7.309650,1.710615,False
9,9,-34.600297,-58.435181,-56.902877,2.307481,True
10,10,-34.589904,-58.393151,25.738900,2.545880,False
11,11,-34.579994,-58.436877,1.194994,1.568884,False
12,12,-34.603360,-58.370789,34.116393,2.051229,False
13,13,-34.604412,-58.417650,79.755078,2.415437,False
14,14,-34.598788,-58.402089,-84.293081,2.787972,True
15,15,-34.594475,-58.376283,-53.349172,1.885940,True
16,16,-34.630779,-58.390621,81.125604,1.926802,False
17,17,-34.589985,-58.448490,28.255604,1.643295,False
18,18,-34.633165,-58.359918,23.868007,1.575854,False
19,19,-34.614985,-58.364498,-10.659342,2.387165,True
20,20,-34.632450,-58.425007,73.805639,1.720520,False
21,21,-34.613065,-58.393389,114.166959,2.567223,False

In [53]:
import random
cluster_info = """SELECT lat, long 
                FROM [pfidb].[dbo].[stations_clusters_usage]
                WHERE cluster=19"""

cluster_lat_long = engine.execute(cluster_info).fetchall()
lat_list = []
long_list = []
for i in engine.execute(cluster_info).fetchall():
    lat_list.append(i[0])
    long_list.append(i[1])
    
lat_aux = (random.choice(lat_list)+random.choice(lat_list))/2
while lat_aux in lat_list:
    lat_aux = (random.choice(lat_list)+random.choice(lat_list))/2
    
print(lat_aux)

-34.617004210000005